<html>
    <head>
        <title>Django Mccc blog</title>
    </head>
    <body>
        <h1><a href="/">Django Mccc blog</a></h1>
    
        <div>
            <p>published: 08.06.2019, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi dolorem in iste non aliquid nisi voluptatem, mollitia excepturi maxime voluptatum.
            </p>
        </div>

        <div>
            <p>published: 08.06.2019, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi dolorem in iste non aliquid nisi voluptatem, mollitia excepturi maxime voluptatum.
        </div>
    </body>
</html>